* {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
.font1 {
  font-family: sans-serif;
  font-weight: bold;
  color: #062863;
  text-align: center;
  font-size: 38px;
  margin: auto;
  display: block;
}
.subtitle {
  font-size: 28px;
  color: #278abf;
  text-align: center;
  margin-top: 25px;
}


/*-----MENU-----*/
.checkbtn {
  font-size: 30px;
  cursor: pointer;
  float: right;
  margin-right: 5px;
  line-height: 80px;
  display: none;
}

.logo {
  float: left;
  margin-left: 15px;
  width: 300px;
  height: 80px;
  border: 2px red ;
}
.logo:hover {
  opacity: 0.8;
}
.logo img {
  width: 250px;
  height: 75px;
  justify-content: center;
  align-items: center;
}
nav {
  border-top: 10px solid #278abf;
  height: 80px;
  width: 100%;
  justify-content: space-between;
}
nav ul {
  float: right;
  margin: auto;
}
nav ul li {
  height: 48px;
  list-style: none;
  margin-right: 35px;
  padding-top: 28px;
  display: inline-block;
}
nav ul li a {
  height: 48px;
  padding-top: 18px;
  font-size: 24px;
}
nav ul li a:hover {
  border-top: 6px solid #278abf;
  color: #4b4b4b;
}
#check {
  display: none;
}


/*-----PORTADA-----*/
.img-perfil {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: auto;
}
.img-perfil img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.portada {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-top: 2px #4b4b4b solid;
}
.portada img {
  width: 100%;
  height: 100%;
}


/*TEXTO INTRODUCTORIO*/
.intro {
  background-color: #278abf;
  width: 100%;
  text-align: center;
  font-size: 26px;
}
.intro h1 {
    color: #f3f3f3;
}
.intro p {
  margin-top: 20px;
    color: #f3f3f3;
}


/*-----CURSOS-----*/
.target-contain {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
.target {
  border: #062863 2px solid;
  margin:15px 15px;
  width: 17%;
}
.target img {
  width: 100%;
  object-fit: cover;
}


/*-----BOTON-----*/
.boton {
  width: 200px;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 4px solid #ff2020;
  font-size: 26px;
  font-weight: bold;
  color: #ff2020;
  background-color: #f3f3f3;
}
.boton:hover {
  color: #f3f3f3;
  background-color: #ff2020;
  border: 4px solid #ff0000;
  cursor: pointer;
}


/*-----BOTON CURSOS-----*/
.button {
  margin: 35px;
  padding: 10px;
  border: 4px solid #141c3a;
  border-radius: 25px;
  width: 150px;
  font-size: 25px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
.button a {
  text-decoration: none;
  color: #141c3a;
}
.button a:hover {
  color: #f3f3f3;
}
.button:hover {
  background-color: #062863;
  color: #f3f3f3;
}

/*-----BOTON WHATSPP-----*/
.buttonW {
  background-color:#25D366;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 60px;
  position:fixed;
  cursor: pointer;
  margin-bottom: 100px;
}
.buttonW:hover {
  background-color: #009b39;
}


/*-----GALERIA-----*/
.contenedorImg {
  width: 80%;
  margin: 50px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
  gap: 30px;
}
.contenedorImg img {
  width: 90%;
  cursor: pointer;
  transition: 1s;
  margin: auto;
}
.contenedorImg img:hover {
  transform: scale(1.2);
}
.ful-img {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.ful-img img {
  width: 80%;
  max-width: 470px;
}
.ful-img span {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}


/*-----CONTACTO-----*/
.contacto {
  background-color: #278abf;
  margin: auto;
  text-align: center;
}
.contacto h4 {
  color: #f3f3f3;
  font-size: 40px;
  margin-top: -30px;
}
.contacto a {
  display: block;
  margin: 30px;
  font-size: 30px;
}
.contacto p {
  padding-bottom: 50px;
}


/*-----FOOTER-----*/
.footer {
  text-align: center;
}
.footer a {
  color: #278abf;
  font-size: 26px;
}


/*-----MENU RESPONSIVE-----*/
@media (max-width: 952px) {
  nav ul li a {
    font-size: 18px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 60%;
    height: 100vh;
    background: #ffffff;
    top: 80px;
    text-align: center;
    transition: all 0.5s;
    margin: auto;
    right: -100%;
  }
  nav ul li {
    display: block;
    margin-top: 50px;
    line-height: 30px;
    text-align: center;
  }
  nav ul li a {
    font-size: 20px;
  }
  .checkbtn:hover ~ ul {
    right: 0;
  }
  #menu:hover ~ ul {
    right: 0;
  }
  /*-----LOGO-----*/
  .logo {
    width: 250px;
    margin-top: 10px;
  }
  .logo img {
    width: 250px;
  }
  /*-----PORTADA RESPONSIVE-----*/
  .portada img{
    width: 100%;
    height: 150px;
  }
  .portada {
    width: 100%;
    height: 155px;
  }
  .logo img {
    width: 150px;
    height: 60px;
    justify-content: center;
    align-items: center;
  }


  /*TEXTO INTRODUCTORIO*/
  .intro h1 {
    padding-top: 30px;
  }
  .intro p {
    padding-bottom: 20px;
  }
  /*-----BOTON WHATSAPP-----*/
  .buttonW {
    width: 90px;
    height:90px;
    font-size: 70px;
  }
  /*------CONTACTO-----*/
  .contacto a {
    display: block;
    margin: 30px;
    font-size: 20px;
  }
  /*------TARJETAS CURSOS-----*/
  .target-container {
    display: block;
  }
  .target {
    width: 80%;
    margin: auto !important;
    margin-top: 40px !important;
  }
  .img-perfil {
   padding-top: 30px;
  }
}
